/* home variables */
:root {
    --reelEmbedHeightDefault: 60vh;
}



/* home content styles ------------------------------ */
.mainHome {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    background-color: var(--primaryColour);
}
.mainColumnRight{
    display: flex;
    flex-basis: content;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
.mainColumnLeft {
    display: flex;
    flex-basis: 70%;
    justify-content: center;
    align-items: center;
    margin-bottom: 8vh;
}
.landingPageLink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 10%;
    font-size: clamp(1.2rem, 2vw, 1.3rem);
    font-weight: 600;
    border-radius: 5px;
    margin-left: 1.4vw;
    margin-right: 1.4vw;
    border: 2px solid var(--textColour);
    color: var(--textColour);
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    padding-right: 1vh;
    padding-left: 1vh;
    font-family: inter;
    transition: background-color 0.2s, color 0.2s;
}
.landingPageLink:hover {
    background-color: var(--textColour);
    color: var(--backgroundColour);
}
.getInTouch {
    border: none;
    color: var(--textColour);
    background-color: #128aca;
    border: 2px solid #128aca;
    transition: background-color 0.2s, border 0.2s;
}
.getInTouch:hover {
    background-color: #0f73a8;
    color: var(--textColour);
    border: 2px solid #0f73a8;
}
.reelEmbed {
    box-sizing: border-box;
    display: flex;
    border-radius: 5px;
    height: var(--reelEmbedHeightDefault);
    width: calc(var(--reelEmbedHeightDefault) * 1.7777778);
}
/* home responive styles */
@media  screen and (max-width: 1650px) {
    .landingPageLink {
        flex-basis: 25%;
    }
}
@media  screen and (max-width: 1450px) {
    .mainHome {
        flex-direction: column;
    }
}
@media screen and (max-width: 650px) {
    .mainHome {
        flex-direction: column;
    }
    .mainColumnLeft {
        width: 100%;
        flex-direction: column;
    }
    .mainColumnRight {
        width: 100%;
        align-items: baseline;
    }
    .landingPageLink {
        width: 60%;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}